{% extends 'base.html' %}

{% block title %}Типы аккумуляторов для автомобилей. Их отличия и особенности.{% endblock %}

{% block content %}
<b>Sb/Sb cурьмянистые аккумуляторы.</b> <br>
    <p>Старый вид АКБ. Отличается большим содержанием сурьмы в составе (более пяти процентов). 
        В современных видах этот показатель значительно меньше. Сурьма используется для увеличения прочности пластин, 
        так как свинец в чистом виде — достаточно слабый материал. 
        В ходе химических реакций, данный вид расположен к большим потерям электролита, что приводит к открытию пластин. 
        Поэтому такой вид АКБ требует постоянного контроля и обслуживания (добавления дистиллированной воды). 
        В некоторых сферах такие АКБ еще встречаются, но для запуска двигателей их уже не используют, в виду появления более совершенных технологий. 
        Такие батареи склонны к саморазряду, даже будучи отключенными от потребителей тока. Впрочем, и восстанавливаются они легко.
    </p><br>

<b>Ca/Ca полностью кальциевые АКБ.</b><br>
    <p>Кальциевыми аккумуляторами называют батареи, в которых свинец легирован (добавлены десятые доли процента Са от общей массы сплава, примерно 0,07-0,1%) кальцием. 
        Отсутствие обслуживания или, правильнее будет сказать, расхода воды. Кроме того, низкий саморазряд. 
        Из минусов — чувствительность к глубоким разрядам и состоянию бортовой электрики.
    </p><br>
    
<b>Sb/Ca или Ca+ гибридные батареи.</b><br>
    <p>Гибридные батареи с отрицательными электродами из кальциевого сплава и положительными из малосурьмянистого — симбиоз и нечто среднее между приведенными типами АКБ.</p><br>

<b>AGM.</b><br>
    <p>В AGM батареи установлен впитывающий стекломат - это специальный стекловолоконный сепаратор который впитывает весь электролит в аккумуляторе 
        и обеспечивает высокую устойчивость к циклированию. AGM технология обеспечивает в три раза больший срок службы аккумуляторной батареи 
        и позволяет аккумулятору выдерживать многочисленные циклы заряда-разряда без потери производительности. 
        Данная технология идеально подходит для автомобилей с системой Start-Stop с рекуперативным торможением, дома на колесах, все виды водного транспорта.
    </p><br>

<b>EFB.</b><br>
    <p>Улучшенная технология с жидким электролитом. 
        На + пластине добавлен полиэстеровый материал который помогает закрепить активную массу на пластине, 
        что в разы повышает срок службы батареи. Между пластиной и сепаратором применяется дополнительный полиэстеровый элемент, представляющий собой микро-сетку. 
        Данная микро- сетка удерживает активную массу внутри пластины и предотвращает ее вымывание. 
        В результате повышается устойчивость к глубокому заряду-разряду и обеспечивается более высокая заражаемость. 
        Приклеенный на сепаратор стекловолоконный ворс помогает сохранять пластины в правильном положении. 
        Аккумуляторы EFB могут использоваться с частичным зарядом и длительное время  не требуют глубокого заряда-разряда. 
        Это возможно благодаря полиэстэровому материалу, который добавляется на положительную поверхность пластины. 
        Это помогает закрепить активный материал пластины, что повышает срок службы. 
        Данный тип аккумуляторов  подходит для автомобилей, оборудованных системой Start-Stop без рекуперативного торможения,
        а также для автомобилей с повышенным энергопотреблением.
    </p><br>    
{% endblock %}