{% extends 'base.html' %}

{% block title %}Каталоги{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- левая колонка -->
        <div class="col-md-6">
            <ul>
                <li>
                    <a
                            href="https://crossbase.ru/"
                            class="underline-one"
                            target="_blank"
                    >База кроссов (50 бесплатных запросов в день)</a
                    >
                <li>
                    <a
                            href="http://www.elcats.ru"
                            class="underline-one"
                            target="_blank"
                    >Elcats</a
                    >
                </li>
                <li>
                    <a
                            href="http://www.japancats.ru/"
                            class="underline-one"
                            target="_blank"
                    >Japancats</a
                    >
                </li>
                <li>
                    <a
                            href="http://www.ssangyong.pro"
                            class="underline-one"
                            target="_blank"
                    >Ssangyong</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.toyotacarmine.ru/"
                            class="underline-one"
                            target="_blank"
                    >TOYOTA</a
                    >
                </li>
                <li>
                    <a
                            href="https://ifinterface.com/prog/car/cp2/inprog.php"
                            class="underline-one"
                            target="_blank"
                    ><b class="new">NEW!!!</b>VAG</a
                    >
                </li>
                <li>
                    <a
                            href="http://www.hondaworld.ru/"
                            class="underline-one"
                            target="_blank"
                    >HONDA</a
                    >
                </li>
                <li>
                    <a
                            href="https://bmw.etk.club/"
                            class="underline-one"
                            target="_blank"
                    >Bmw</a
                    >
                </li>
                <li>
                    <a
                            href="https://parts.ford.com/en.html"
                            class="underline-one"
                            target="_blank"
                    >Ford</a
                    >
                </li>
                <li>
                    <a
                            href="https://ecatford.ru/login"
                            class="underline-one"
                            target="_blank"
                    ><b class="new">NEW!!!</b> Ford. Логин: 6373 Пароль: Ford2023</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.moparpartsoverstock.com/"
                            class="underline-one"
                            target="_blank"
                    >Для Америки</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.rockauto.com/"
                            class="underline-one"
                            target="_blank"
                    >Американский магазин с каталогами</a
                    >
                </li>
                <li>
                    <a
                            href="http://carcats.ru/epc/"
                            class="underline-one"
                            target="_blank"
                    >Volvo</a
                    >
                </li>
                <li>
                    <a
                            href="https://catalog.mann-filter.com/EU/rus"
                            class="underline-one"
                            target="_blank"
                    >Mann</a
                    >
                </li>
                <li>
                    <a
                            href="https://filtron.eu/ru/najti"
                            class="underline-one"
                            target="_blank"
                    >Filtron</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.denso-am.ru/elektronnyi-katalog/"
                            class="underline-one"
                            target="_blank"
                    >DENSO</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.trwaftermarket.com/ru/"
                            class="underline-one"
                            target="_blank"
                    >TRW</a
                    >
                </li>
                <li>
                    <a
                            href="https://web.tecalliance.net/ate/en/home"
                            class="underline-one"
                            target="_blank"
                    >ATE</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.autowelt.ru/"
                            class="underline-one"
                            target="_blank"
                    >Autowelt</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.frenkit.es/ru"
                            class="underline-one"
                            target="_blank"
                    >Frenkit</a
                    >
                </li>
                <li>
                    <a
                            href="http://www.epcdata.ru/"
                            class="underline-one"
                            target="_blank"
                    >Правый руль</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.motorzona24.ru/"
                            class="underline-one"
                            target="_blank"
                    >Motorzona24</a
                    >
                </li>
                <li>
                    <a
                            href="https://xn--80actcpdfk0f.xn--p1ai/"
                            class="underline-one"
                            target="_blank"
                    >Каталоги по Китайским авто</a
                    >
                </li>
                <li>
                    <a
                            href="https://chinaspare.ru/"
                            class="underline-one"
                            target="_blank"
                    >Каталоги по Китайским авто</a
                    >
                </li>
                <li>
                    <a
                            href="https://китайавто.рус/"
                            class="underline-one"
                            target="_blank"
                    ><b class="new">NEW!!!</b>Каталоги по Китайским авто (китайавто.рус)</a
                    >
                </li>
                <li>
                    <a
                            href="https://autocraft-kzn.ru/"
                            class="underline-one"
                            target="_blank"
                    >Каталоги по Китайским авто (получше)</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.logan-shop.ru"
                            class="underline-one"
                            target="_blank"
                    >Logan-shop</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.continental-engineparts.com/eu/ru-RU/Automotive-Aftermarket/PIC-Katalog/PIC-Product-Information-Center-12/?lg=ru"
                            class="underline-one"
                            target="_blank"
                    >Каталог Continental</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.autolines.ru/catalog.html"
                            class="underline-one"
                            target="_blank"
                    >Каталог автоаксессуаров</a
                    >
                </li>
                <li>
                    <a
                            href="https://cargen.ru/"
                            class="underline-one"
                            target="_blank"
                    >Каталог автоаксессуаров Cargen</a
                    >
                </li>
                <li>
                    <a
                            href="https://alta-karter.ru/"
                            class="underline-one"
                            target="_blank"
                    >Каталог автоаксессуаров Alta karter</a
                    >
                </li>                
                <li>
                    <a 
                            href="https://www.nissan-vsem.ru/"
                            class="underline-one"
                            target="_blank"
                    ><b class="new">NEW!!!</b> Nissan vsem</a
                    >
                </li>                
                <li>
                    <a 
                            href="https://www.motorhunter.ru"
                            class="underline-one"
                            target="_blank"
                    ><b class="new">NEW!!!</b> Большой справочник автомобилиста.</a
                    >
                </li>
                <li>
                    <a 
                            href="https://meteorauto.ru/catalog/"
                            class="underline-one"
                            target="_blank"
                    ><b class="new">NEW!!!</b> Подбор свечей Meteor.</a
                    >
                </li>
            </ul>
        </div>
        <!-- правая колонка -->
        <div class="col-md-6">
            <ul>
                <li>
                    <a
                            href="http://www.astrohim.ru/catalog/"
                            class="underline-one"
                            target="_blank"
                    >Автохимия АСТРОХИМ</a
                    >
                </li>
                <li>
                    <a
                            href="https://kudo-paint.ru/all-car-color/"
                            class="underline-one"
                            target="_blank"
                    >Автоэмали KUDO</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.zzap.ru/"
                            class="underline-one"
                            target="_blank"
                    >Zzap</a
                    >
                </li>
                <li>
                    <a
                            href="https://kontrafakta.net/"
                            class="underline-one"
                            target="_blank"
                    >Контрафакта NET</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.leader-plus.ru/"
                            class="underline-one"
                            target="_blank"
                    >Фаркопы Лидер Плюс</a
                    >
                </li>
                <li>
                    <a
                            href="https://xn--80aumecw.xn--p1ai/"
                            class="underline-one"
                            target="_blank"
                    >Фаркопы</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.drive2.ru/l/4642601/"
                            class="underline-one"
                            target="_blank"
                    >Замена топливного фильтра и бензонасоса B10RS</a
                    >
                </li>
                <li>
                    <a
                            href="https://xn--90acjcjbhmu6bn.xn--p1ai/podbor/"
                            class="underline-one"
                            target="_blank"
                    >Подбор ламп</a
                    >
                </li>
                <li>
                    <a
                            href="https://polyurethan.ru/"
                            class="underline-one"
                            target="_blank"
                    >Полиуретан</a
                    >
                </li>
                <li>
                    <a
                            href="https://parts.major-auto.ru/News"
                            class="underline-one"
                            target="_blank"
                    >Проверка артикула на замену</a
                    >
                </li>
                <li>
                    <a
                            href="https://logan-zap.ru/stati/kakie-perednie-kolodki-stoyt-reno-logan.html"
                            class="underline-one"
                            target="_blank"
                    >Какие передние тормозные колодки стоят на Рено Логан?</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.rezkon.ru/catalog/"
                            class="underline-one"
                            target="_blank"
                    >Rezkon</a
                    >
                </li>
                <li>
                    <a
                            href="https://rivalauto.ru/my-car/"
                            class="underline-one"
                            target="_blank"
                    >Rival</a
                    >
                </li>
                <li>
                    <a href="https://size.name/" class="underline-one" target="_blank"
                    >Все размеры на одном сайте</a
                    >
                </li>
                <li>
                    <a href="http://www.avtobukvar.ru/" class="underline-one" target="_blank"
                    >Подбор по размерам (сальники, подшипники, ШРУСы)</a
                    >
                </li>
                <li>
                    <a href="https://podshipnik.in.ua/" class="underline-one" target="_blank"
                    >Подбор подшипников по размерам</a
                    >
                </li>
                <li>
                    <a href="https://www.jikiu.com/catalogue/" class="underline-one" target="_blank"
                    >Подбор сайлентблоков по размерам jikiu</a
                    >
                </li>
                <li>
                    <a href="https://www.metgum.com.ua/" class="underline-one" target="_blank"
                    >Подбор сайлентблоков по размерам</a
                    >
                </li>
                <li>
                    <a href="https://sibmasuma.ru/product/clips_size_all.html" class="underline-one" target="_blank"
                    >Подбор пистонов по виду и размеру</a
                    >
                </li>
                <li>
                    <a
                            href="http://dieselcatalog.online/ru/home.html"
                            class="underline-one"
                            target="_blank"
                    >Запчасти для дизель форсунок и ТНВД</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.drive2.com/l/5182744/"
                            class="underline-one"
                            target="_blank"
                    >Шрус для Camry 40</a
                    >
                </li>
                <li>
                    <a href="https://akb.ru/" class="underline-one" target="_blank"
                    >Подбор АКБ</a
                    >
                </li>
                <li>
                    <a href="https://akbmag.ru/akkumulyator-dlya/?ysclid=m2d4lzv77n965295569" class="underline-one" target="_blank"
                    ><b class="new">NEW!!!</b>Подбор аккумулятора по марке автомобиля</a
                    >
                </li>
                <li>
                    <a href="https://cbd.ru/" class="underline-one" target="_blank"
                    >Выхлопные системы CBD</a
                    >
                </li>
                <li>
                    <a
                            href="https://avto-dvorniki.ru"
                            class="underline-one"
                            target="_blank"
                    >Подбор стеклоочистителей, ламп, масел,фильтров, свечей,ковриков по авто</a
                    >
                </li>
                <li>
                    <a
                            href="https://www.mirdvornikov.ru/"
                            class="underline-one"
                            target="_blank"
                    >Мир дворников (Подбор дворников)</a
                    >
                </li>
                <li>
                    <a
                            href="https://febest.de/ru/catalog"
                            class="underline-one"
                            target="_blank"
                    >Запчасти Febest</a
                    >
                </li>
                <li>
                    <a
                            href="https://patron.ru"
                            class="underline-one"
                            target="_blank"
                    >Запчасти Patron</a
                    >
                </li>
                <li>
                    <a 
                            href="https://podbor.ravenol.ru"
                            class="underline-one"
                            target="_blank"
                    ><b class="new">NEW!!!</b> Ravenol подбор жидкостей по VIN. Потребуется простая регистрация.</a
                    >
                </li>
                <li>
                    <a 
                            href="https://mirdopov.ru/"
                            class="underline-one"
                            target="_blank"
                    ><b class="new">NEW!!!</b> Мир допов. автоаксессуары.</a
                    >
                    <li>
                    <a 
                            href="http://www.zekkert.de/ru"
                            class="underline-one"
                            target="_blank"
                    ><b class="new">NEW!!!</b> Автозапчасти Zekkert</a
                    >
                </li>
                <li>
                    <a 
                            href="https://nordfil.ru/katalog"
                            class="underline-one"
                            target="_blank"
                    ><b class="new">NEW!!!</b> Фильтра Nordfil</a
                    >
                </li>
                <li>
                    <a 
                            href="https://vin.drom.ru/?ysclid=m5uqt7t8o7953424362"
                            class="underline-one"
                            target="_blank"
                    ><b class="new">NEW!!!</b> DROM проверка авто по вину</a
                    >
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}