{% extends 'base.html' %}

{% block title %}Ролики приводных ремней 1VD-FTV Toyota Land Cruiser 200 4.5TDI{% endblock %}

{% block content %}

<pre>
    К нам в работу поступил автомобиль с порванными приводными ремнями ДВС Toyota LC200 4.5TDI.
    Решил по этому случаю сделать блог на тему предстоящего ремонта для человека чтобы он не бегал и не искал запасные части, 
    а был готов приехать с полным списком запасных частей на сервисную станцию.

    Итак приступим…

    <img src="{{ url_for('static', filename='img/1.jpg') }}" alt="1">

    <img src="{{ url_for('static', filename='img/2.jpg') }}" alt="2">

    1. Ролик, на иллюстрации номер 1.
    Артикул 1660351010 Toyota, на наш взгляд он не ремонто пригодный разобрать нам его не удалось.

    <img src="{{ url_for('static', filename='img/3.jpg') }}" alt="3">

    2. Ролик, на иллюстрации номер 2.
    Артикул 8842060350 Toyota, подшипник в данном ролике используется 6301, мы использовали подшипник компании KOYO 63012RSCM розничная стоимость 200-300 рублей.

    <img src="{{ url_for('static', filename='img/4.jpg') }}" alt="4">

    3. Ролик, на иллюстрации номер 3.
    Артикул 8844060110 Toyota, подшипник в данном ролике используется 6301, мы использовали подшипник компании KOYO 63012RSCM розничная стоимость 200-300 рублей.

    <img src="{{ url_for('static', filename='img/5.jpg') }}" alt="5">

    4. Ролик на иллюстрации номер 4.
    Артикул 8842060340 Toyota, подшипник подшипник в данном ролике используется 6301 внимание! 
    Для перепресовки потребуется 2 шт, мы использовали подшипник компании KOYO 63012RSCM розничная стоимость 200-300 рублей.

    <img src="{{ url_for('static', filename='img/6.jpg') }}" alt="6">

    5. Ролик, на иллюстрации номер 5.
    Артикул 8844060110 Toyota, подшипник в данном ролике используется 6301, мы использовали подшипник компании KOYO 63012RSCM розничная стоимость 200-300 рублей.

    <img src="{{ url_for('static', filename='img/7.jpg') }}" alt="7">

    6. Ролик, на иллюстрации номер 6.
Артикул 1662051011 Toyota, подшипник в данном ролике используется 6203 для примера KOYO 62032RSCM розничная стоимость 200-300 рублей, 
но мы не смогли использовать подшипник по причине того что ролик приводной давно не менялся и ролик заклинил и повредил сам механизм натяжителя.
Установили в сборе 1662051011 Toyota.

Полный список для выполнения ремонта:

1. Ролик Toyota 1660351010 1500 — 2000 рублей за оригинал.
2. Подшипник для перепрессовки роликов 6301 (37х12х12 mm) 5 шт.
3. Подшипник для перепрессовки роликов 6203 (40x17x12 mm) — 1 шт.
4. Ремень приводной широкий для автомобилей с виско-муфтой 99364H1390 Toyota
5. Ремень приводной кондиционера 99364H1390 Toyota

<img src="{{ url_for('static', filename='img/8.jpg') }}" alt="8">

<img src="{{ url_for('static', filename='img/9.jpg') }}" alt="9">
</pre>

<a href="https://www.drive2.ru/o/b/491346458759397428" class="underline-one" target="_blank">Источник</a>

{% endblock %}