{% extends 'base.html' %}

{% block title %}Установка масляного насоса от G4KD на G4KE{% endblock %}

{% block content %}

<pre>
    Всем привет. в нашей теме не так часто попадаются разговоры о проблемы с моторами G4KE. 
    А вот у соседей сорентоводов практически каждую неделю кто-то куда то не доезжает и в лучшем случае попадает на дорогостоящий ремонт двигателя.
    Суть в том что наш мотор может отходить 50000 а может и все 300000 и вовсе недостаточно просто вовремя менять масло.
    Честно говоря нет уверенности ездить дальше 100 км от дома когда в курсе подобной проблемы, 
    данная тема изъела меня, поэтому принял решение вскрыть мотор осмотреть состояние вкладышей и заменить несчастный ББВ на обычный. 
    Разобрав частично мотор убедился что у меня все в отличном состоянии и на шатунных вкладышах только начало стираться тефлоновое напыление.

    <img src="{{ url_for('static', filename='img/G4KD_1.jpg') }}" alt="">

    Но при сборке я конечно же их поменял на новые.
    Попутно поменял комплект ГРМ.Цепь, башмаки, оба гидронатяжители оствил старые, ломаться там нечему. 
    Предварительно разобрав, промыв и убедившись что в них нет износа. Для сравнения фото передней части мотора до и после.

    <img src="{{ url_for('static', filename='img/G4KD_2.jpg') }}" alt="">
    Все родное

    <img src="{{ url_for('static', filename='img/G4KD_3.jpg') }}" alt="">
    После переделки

    Итак что нам понадобится из обязательного для переделки:
    1) успокоитель цепи маслонасоса 2447125001
    2) башмак натяжителя цепи маслонасоса 2446125051
    3)звездочка ГРМ нижняя 2312125000 я взял от митсу MN183895

    <img src="{{ url_for('static', filename='img/G4KD_4.jpg') }}" alt="">
            Запчасти на фото: MN183895, 243212S000

    , на момент заказа она была в 2.5 раза дешевле Hyundai.
    4) цепь маслонасоса 2432225000
    5) Сам маслонасос любой на вкус и цвет из номеров 213102G011, 213102G010, 213102G001, 2131025700, 2131025001
    6) Укороченные болты крепления маслонаса к плите
    211182G000-1шт.
    211152G000-2шт.
    213812G000-2шт
    Это минимальный набор который необходим для замены ББВ на нормальный насос, ну еще герметик понадобится для передней крышки и поддона. 
    Но я попутно поменял сальники, помпу, шатунные вкладыши и весь ГРМ. 
    Щуп можете оставить родной только заливать масло на 3-4 мм выше значений родного.
    Попутно нашел на разборке поддон от нового спортажа под датчик уровня масла.

    <img src="{{ url_for('static', filename='img/G4KD_5.jpg') }}" alt="">

    Кстати родной датчик в итоге мне не подошел так как на этот поддон ставится более короткий датчик.
    Для тех кто еще ломает голову по поводу глушения болтов в нижней плите, только один болт имеет выход в маслоканал, он показан стрелкой.

    <img src="{{ url_for('static', filename='img/G4KD_6.jpg') }}" alt="">

    А теперь о личных впечатлениях — дак почему же наши моторы ненадежны?
    Я увидел основную проблему в том что в отличие от простого маслонасоса, ББВ вращается в 2 раза быстрее коленчатого вала, 
    например выходя на обгон на 5000 оборотов мотора ББВ вращяется более 10000об/мин (кто не верит взгляните на фото до и после, 
    а так же на размеры шестеренок в передающей паре) 
    А так как этот ББВ работает на вкладышах, любое даже секундное масляное голодание может наворотить дел. 
    В свою очередь обратите внимание на родной поддон От KE. из за конструктива ББВ в нем нет противоотливной пластины . 
    и в хорошем поворте ББВ как раз может остаться без масла в зоне забора. После того как пострадает ББВ давление начинает падать и уже не хватает на двигатель, 
    и первыми как обычно пострадают шатунные вкладыши которые и так могут протереть если использовать слишком жидкие масла.
    Кстати часто слышал что ББВ смазывает масляным туманом цилиндры — не знаю что он там смазывает, 
    но он полностью в закрытом корпусе и врят ли из этого корпуса полетит какой то туман вверх, 
    поэтому наличие масляных форсунок для этих моторов обязательно в чем я и убедился осмотрев снизу состояние цилиндров и нижней части юбки поршней.
    Для тех кто еще ездит на таких моторах с ББВ лейте масла не ниже 5W30 вязкости меняйте почаще и лейте выше верхней метки на щупе на 3-4 мм и будет вам счастье. 
    А для те кто страдает беспокойством как я покупайте минимальный набор, снимайте поддон, переднюю крышку и меняйте ББВ на обычный насос. 
    Без снятия плиты кстати можно даже снять 3 шатунные крышки и осмотреть состояние вкладышей, и все это прямо из подкапотного пространства не снимая мотор, 
    ну а если надумайте менять и их, там уже пол мотора разбирать надо будет.
</pre>
<a href="https://www.drive2.ru/l/564703675541357113/" class="underline-one" target="_blank">Источник</a>

{% endblock %}