{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul>
              <li>
                    30.01.2025г. В <a href="{{ url_for('catalog') }}">Каталоги</a> добавлен сайт: <a href="https://www.drive2.ru/b/519517046174646541/?ysclid=m6j4206cw6244382860" class="underline-one" target="_blank">Проверка утечки АКБ мультиметром.</a>
                </li>
                <li>
                    30.01.2025г. В <a href="{{ url_for('catalog') }}">Каталоги</a> добавлен сайт: <a href="https://ifinterface.com/prog/car/cp2/inprog.php" class="underline-one" target="_blank">VAG</a>
                </li>
                <li>
                    26.12.2024г. В <a href="{{ url_for('catalog') }}">Каталоги</a> добавлен сайт: <a href="http://www.zekkert.de/ru" class="underline-one" target="_blank">Автозапчасти Zekkert.</a>
                </li>
                <li>
                    20.12.2024г. В <a href="{{ url_for('catalog') }}">Каталоги</a> добавлен сайт: <a href="https://mirdopov.ru/" class="underline-one" target="_blank">Мир допов. автоаксессуары.</a>
                </li>
                <li>
                    18.12.2024г. В <a href="{{ url_for('catalog') }}">Каталоги</a> добавлен сайт: <a href="https://китайавто.рус/" class="underline-one" target="_blank">Каталоги по Китайским авто (китайавто.рус)</a>
                </li>
                <li>
                    29.11.2024г. В <a href="{{ url_for('catalog') }}">Каталоги</a> добавлен сайт: <a href="https://ecatford.ru/login" class="underline-one" target="_blank">FORD дилерский.</a>
                </li>  
                <li>
                    31.10.2024г. Добавлена <a href="{{ url_for('recommendations') }}">Статья</a>: <a href="{{ url_for('akb') }}" class="underline-one" target="_blank">Типы аккумуляторов для автомобилей. Их отличия и особенности.</a>
                </li>
                <li>
                    25.10.2024г. В <a href="{{ url_for('catalog') }}">Каталоги</a> добавлен сайт: <a href="https://podbor.ravenol.ru" class="underline-one" target="_blank">Ravenol подбор жидкостей по VIN. Потребуется простая регистрация.</a>
                </li>  
                <li>
                    23.10.2024г. Добавлена <a href="{{ url_for('recommendations') }}">Статья</a>: <a href="{{ url_for('g4kd') }}" class="underline-one" target="_blank">Установка масляного насоса от G4KD на G4KE.</a>
                </li>
                <li>
                    22.10.2024г. В <a href="{{ url_for('catalog') }}">Каталоги</a> добавлен сайт: <a href="https://meteorauto.ru/catalog/" class="underline-one" target="_blank">Подбор свечей Meteor</a>
                </li>
                <li>
                    22.10.2024г. Добавлена <a href="{{ url_for('recommendations') }}">Статья</a>: <a href="{{ url_for('engine_rollers_1VDFTV') }}" class="underline-one" target="_blank">Ролики приводных ремней 1VD-FTV Toyota Land Cruiser 200 4.5TDI.</a>
                </li>
                <li>
                    16.10.2024г. В <a href="{{ url_for('catalog') }}">Каталоги</a> добавлен сайт: <a href="https://akbmag.ru/akkumulyator-dlya/?ysclid=m2d4lzv77n965295569" class="underline-one" target="_blank">Подбор аккумулятора по марке автомобиля</a>
                </li>
                <li>
                    14.10.2024г. Добавлена <a href="{{ url_for('recommendations') }}">Статья</a>: <a href="{{ url_for('shrussonata') }}" class="underline-one" target="_blank">Шрус на Sonata 100%</a>
                </li>
                <li>
                    01.10.2024г. Добавлена <a href="{{ url_for('recommendations') }}">Статья</a>: <a href="{{ url_for('nailbook') }}" class="underline-one" target="_blank">Хорошие и не очень бренды автозапчастей.</a>
                </li>
                <li>
                    01.10.2024г. В <a href="{{ url_for('catalog') }}">Каталоги</a> добавлен сайт: <a href="https://www.nissan-vsem.ru" class="underline-one" target="_blank">Nissan-vsem</a>
                </li>                
                <li>
                    01.10.2024г. В <a href="{{ url_for('catalog') }}">Каталоги</a> добавлен сайт: <a href="https://www.motorhunter.ru" class="underline-one" target="_blank">Большой справочник автомобилиста. Автомобили, двигатели, ТО, характеристики</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}