{% extends 'base.html' %}

{% block title %}Хорошие и не очень бренды автозапчастей{% endblock %}

{% block content %}
<p><h1>Привет, эта статья ознакомительная, в общем и целом может быть будет интересно.<br> Написано, основываясь на небольшом опыте по подбору запчастей. Предполагаю, весь материал или его часть вы уже знаете.</h1> <br></p>

<h3 class = "name">Диски, колодки:</h3>
Отличный вариант-Оригинал, TRW, ATE, ZIMMERMAN, BREMBO, ADVICS.<br>
Средний вариант - SANGSIN, KASHIYAMA, NIBK, NISSHINBO, ICER, JAPAN PARTS/<br>
Бюджетный вариант - PILENGA, KORTEX, BLITZ, PATRON, LYNX, Onnuri.<br>
Если смотреть на цены, и клиенту нужно дешевле, но не сильно в ущерб качеству, в идеале предлагать диски среднего ценового сегмента + бюджетные колодки.<br>
Иногда бывает, что клиент просто уходит, т.к. не услышал то, что его устроит по цене, а поинтересоваться есть ли дешевле - стесняется, или думает, что это все что мы можем предложить.<br>
<br>

<h3 class = "name">Фильтра:</h3>
Отличный вариант-Оригинал, MANN, MAHLE, HENGST, Kolbenschmidt, VIC.<br>
Средний вариант-FILTRON, SAKURA, MANDO, SPEEDMATE, BIG FILTER, EUROREPAR.<br>
Бюджетный вариант-GREEN FILTER, Goodwill, Fortech, Ganz.<br>
На рынке огромный выбор производителей фильтров (Наверное, в среднем, 80-100 шт.)<br>
В этом списке +- что мы предлагаем людям.<br>
По возможности, не забывать предлагать прокладку/пробку сливную поддона ДВС.<br>

Масляный фильтр ставить лучше (Отличный или средний вариант), воздушный и салона можно попроще, но не стоит забывать что качество воздушного фильтра также важна для ДВС, а салонного - для собственного комфорта и здоровья.<br>

Фильтр салона можно предлагать угольный, антибактериальный. Эффект от них есть в целом, проверено на своем автомобиле.<br>

Фильтр АКПП и топливный - отдельное внимание. Их предлагать в идеале или оригинал или очень качественное.<br>
<br>

<h3 class = "name">Ремкомплекты суппорта, тормозных цилиндров, поршня суппорта, направляющие суппорта:</h3>
Оригинал или неплохие фирмы: FRENKIT, ERT, SEIKEN.<br>
Бюджетные, но в целом тоже в “размер”: LYNX, MASTER KIT, FEBEST.<br>
Стоит всегда обращать внимание на комплектность (что в него входит), на парность (на одну сторону ремкомплект или на две стороны), уточнить, не нужен ли поршень, или оставите старый.<br>
<br>
<h3 class = "name">Прокладки, уплотнители, сальники ДВС/КПП/системы охлаждения, колпачки, манжеты:</h3>
В общем, РТИ (Резинотехнические изделия):<br>
Отличные варианты - Оригинал, REINZ, ELRING, CORTECO, Ajusa, BGA.<br>
Средние неплохие, допустимые - MANDO, LYNX, SPEEDMATE, DYG.<br>
<br>
<h3 class = "name">ГРМ и ролики + навесного оборудования:</h3>
Ремень ГРМ в идеале оригинал (точно оригинал чтобы был), GATES, CONTITECH, INA.<br>
Настоятельно рекомендовать что то из списка выше клиенту.<br>

Навесного оборудования - тот же список + DAYCO, BANDO, Bosch, MITSUBOSHI<br>
.
При обрыве ремня навесного оборудования последствия менее плачевные, чем при обрыве ремня ГРМ, но стоят посередине леса, и ждать эвакуатор тоже так себе. (Это если вы приехали за грибами, к слову)<br>
Ролики, натяжители - смотреть ниже, где подшипники. +- также.<br>
<br>
<h3 class = "name">Подшипники подвески/КПП, ступицы, подшипник качения/ скольжения:</h3>
В КПП и подвеске есть подшипники. Есть немного в ДВС. Подшипники должны быть качественные, т.к. сборка-разборка этих узлов и дорого по деньгам и долго по времени.<br>
Что можно рекомендовать, чтобы потом не краснеть:<br>
SKF, SNR/NTN, FAG, KOYO, NSK, KBS. Эти бренды в 99% идут в оригинале.<br>
Попроще, но тоже имеет место быть. GMB, ILJIN.<br>
Иногда бывает, что нужно еще дешевле. Тогда LYNX, GSP, PATRON. В общем, те производители, у которых есть гарантия от поставщика.<br>
<br>
<h3 class = "name">ШРУС:</h3>
Если приходит человек, и говорит, мне нужен шарнир равных угловых скоростей, с большой вероятностью он вчера гуглил что это такое, т.к. на СТО озвучили проблему в узле его автомобиля.<br>
ШРУС передает крутящий момент от двигателя на ведущие колёса.<br>
ШРУС позволяют не просто приводить колёса автомобиля в движение, но и одновременно управлять ими. Передача вращательного момента осуществляется между полуосями под углом, величина которого постоянно меняется.<br>
Из отличных вариантов: Оригинал (если он есть),LOBRO, SKF, HDK, FAG.<br>
Что то проще: LYNX, FEBEST, GSP, MILES, ASAM.<br>
При подборе учитывать сторону (левая, правая), ось (передняя, задняя), расположение (внутреннее, внешнее), количество шлицов.<br>
Из пыльников ШРУС отлично будет Löbro, MARUICHI, Autofren. Что то попроще - FEBEST, PATRON, Miles.<br>
9 из 10 производителей пыльников комплектуются смазкой и хомутами.<br>
<br>
<h3 class = "name">Рулевой наконечник, рулевая тяга, стойка стабилизатора, рычаг подвески, шаровая опора:</h3>
Выбор тут так же велик как и у фильтров.<br>
Идеал: Оригинал,  Lemforder, TRW.<br>
Отличные, более доступны и к заказу и по цене:
RTS, CTR, 555, SIDEM, Delphi.<br>
Попроще, но очень даже ничего: SPEEDMATE, SASIC, Meyle. На самом деле тут выбор побольше. Опять же смотрим на цену и гарантию производителя.<br>
<br>
<h3 class = "name">Амортизатор подвески:</h3>
Топ: Оригинал, BOGE, Sachs, KYB, MONROE, TOKICO, BILSTEIN, Koni. Часть этих брендов на данный момент стоят либо очень дорого, либо не привезти.<br>
Отличный ассортимент: Mando, SPEEDMATE, LYNX. У этих брендов зачастую идет гарантия от поставщика, опираемся на это.<br>
Бюджетный вариант: Patron, TORR, HOLA. Опять же, смотрим гарантийную политику поставщика, если что то пойдет не так в ходе эксплуатации какого-либо из этих брендов.<br>
<br>
<h3 class = "name">Пружина подвески:</h3>
Топ: Оригинал, KYB, LESJOFORS, Monroe<br>
Можно ставить: Standard Springs, CS Germany.<br>
Имеет место быть: Patron, LYNX, Фобос (Ура, РФ производитель)<br>
<br>
<h3 class = "name">Рейка рулевая:</h3>
Трудно что то стоящее советовать.<br>
Отличные это оригинал и  MANDO, например. Но и ценник на них часто бывает из 6 чисел, особенно последнее время.<br>
В идеале что то наверное с гарантией от поставщика (3-6-9-12 месяцев)<br>
PATRON. MASTERKIT, Sasic.<br>
<br>
<h3 class = "name">Свеча зажигания, накаливания:</h3>
Отличные: Оригинал, NGK, DENSO, Bosch, BERU . Эти производители в большинстве оригинала.<br>
Неплохие: EUROREPAR, Champion<br>
<br>
<h3 class = "name">Радиатор ДВС, кондиционера:</h3>
Топовые: Оригинал, DENSO, NISSENS, MAHLE, HELLA, VALEO.<br>
Отличные: SAKURA, LUZAR.<br>
Сомнительно, но окей: Termal, Metaco, LYNX, PATRON.<br>
Хотя продаем Termal 5+ лет, проблем не припомню.<br>
<br>
<h3 class = "name">Термостаты, насосы водяные:</h3>
Рекомендуем Оригинал, GATES, Pierburg, VERNET,TAMA, DOLZ, GMB.<br>
<br>
<h3 class = "name">Детали ДВС (Поршня, кольца, вкладыши, цепи, натяжители, клапана и т.д.):</h3>
Оригинал, Kolbenschmidt, MAHLE, INA, FRECCIA, TP, TAIHO.<br>
При подборе деталей ДВС и их поставках, учитывается, что за автомобиль. Т.е. на какой-нибудь Хенде Солярис поршней Kolbenschmidt может не оказаться, а на БМВ Е60 вкладышей FRECCIA не будет и т.д.<br>
На самом деле это отдельный большой раздел. С разными моделями ДВС и их типа.<br>
<br>
<h3 class = "name">Сцепление:</h3>
Последний год, два регулярные перебои с заказом.<br>
Отличное будет LUK,VALEO. SACHS.<br>
Возим KRAFTECH, MECARM, LYNX, HOLA, BLUE PRINT.<br>
Кто во что горазд.<br>
<br>
<h3 class = "name">Датчики, регуляторы, электроклапана:</h3>
В общем, электрическая часть автомобиля.<br>
Безусловно, оригинал на первом месте. Отличные будут HELLA, BOSCH, NGK. VDO.<br>
С гарантией можно предложить ERA, Meat&Doria, Bremi, Vernet.<br>
Старайся избегать Stellox, Startvolt, Amd. Но иногда некуда деваться.<br>
<br>
<h3 class = "name">Оптика. Фары, фонари, катафоты:</h3>
Идеал оригинал. Часто дешевле оригинала бывают бренды VALEO, HELLA. Правда, последние пару лет они встречаются все реже.<br>
Хорошие DEPO. Во всяком случае, проблем с ними минимум.<br>
Бюджетный вариант Kortex, Sat, BodyParts, Nsp и т.д.<br>
Бюджетная оптика быстрее выцветает, мутнеет, соответственно и свет от них - хуже.<br>
<br>
<h3 class = "name">Кузовные детали:</h3>
Оригинал в топе, безусловно.<br>
Для поддержки ситуации привозим TYG, SAT. Но часто бывает +- мм. зазоры.<br>
<br>
На этом всё, все замечания, исправления приветствуются
Статья написана быстро, могут быть ошибки.<br>
<b>©Наиль Миниахметов.</b>
{% endblock %}
