{% extends 'base.html' %}

{% block title %}Интернет-магазины и поставщики{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- левая колонка -->
        <div class="col-md-6">
            <ul>
                <li>
                    <a href="https://admin.зеленыйсвет.рф" class="underline-one" target="_blank">Проценка</a>
                </li>
                <li>
                    <a href="https://www.part-kom.ru/parts/motion.php" class="underline-one" target="_blank">Партком</a>
                </li>
                <li>
                    <a href="https://berg.ru/orders/all" class="underline-one" target="_blank">Берг</a>
                </li>
                <li>
                    <a href="https://b2b.ixora-auto.ru/Shop/Orders.html?WorkPageUID=0a766dbe-5ab1-48bf-a67c-98905e305ab6" class="underline-one" target="_blank">Иксора</a>
                </li>
                <li>
                    <a href="https://penza.rossko.ru/personal/orders" class="underline-one" target="_blank">Росско</a>
                </li>
                <li>
                    <a href="https://stparts.ru/orders?id_order=-1" class="underline-one" target="_blank">STparts</a>
                </li>
                <li>
                    <a href="http://client.stparts.ru/ticket/ticket/index" class="underline-one" target="_blank">STparts Возврат товара</a>
                </li>
                <li>
                    <a href="https://shate-m.ru/personal/orders" class="underline-one" target="_blank">Шате-M</a>
                </li>
                <li>
                    <a href="https://adn-avto.ru" class="underline-one" target="_blank">Авдонин</a>
                </li>
                <li>
                    <a href="https://avstorg.ru/" class="underline-one" target="_blank">AVS</a>
                </li>
            </ul>
        </div>
        <!-- правая колонка -->
        <div class="col-md-6">
            <ul>
                <li>
                    <a href="https://itrade.forum-auto.ru/shop/index.html" class="underline-one" target="_blank">Форум</a>
                </li>
                <li>
                    <a href="https://30.autoeuro.ru/orders" class="underline-one" target="_blank">Авто-Евро</a>
                </li>
                <li>
                    <a href="https://lk.favorit-parts.ru/orders/" class="underline-one" target="_blank">Фаворит</a>
                </li>
                <li>
                    <a href="https://b2b.autorus.ru/personal_cabinet" class="underline-one" target="_blank">Авторусь</a>
                </li>
                <li>
                    <a href="https://v01.ru/personal/orders/" class="underline-one" target="_blank">М Партс</a>
                </li>
                <li>
                    <a href="https://mikado-parts.ru/office/zakaz.asp" class="underline-one" target="_blank">Микадо</a>
                </li>
                <li>
                    <a href="https://etp.armtek.ru/order/report" class="underline-one" target="_blank">Армтек</a>
                </li>
                <li>
                    <a href="https://portal.moskvorechie.ru/index.lmz?mp=1#g26&id=1&gm=1&day_from=01.06.2024&day_upto=25.07.2024&sl=0&bl=22_aed66412-7d3a-11ee-80e7-00505689035b&es_line=1" class="underline-one" target="_blank">Москворечье</a>
                </li>
                <li>
                    <a href="https://avtotehmas.ru/" class="underline-one" target="_blank">АвтоТехМас</a>
                </li>
                <li>
                    <a href="https://emex.ru/" class="underline-one" target="_blank">Emex</a>
                </li>
                <li>
                    <a href="http://shop.999-312.ru/" class="underline-one" target="_blank">Зеленый свет</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}