{% extends 'base.html' %}

{% block title %}Шрус на Sonata 100%{% endblock %}

{% block content %}

<div class="p">
<b>Применимость:</b><br>
СОНАТА ТАГАЗ. 3 типа наружных шрусов.<br>
1. 23*60*27 — <b>HDK HY-006</b> (рекомендую эту фирму!), <b>ASVA KI-09</b>, <b>ASVA HY-06</b>, <b>FEBEST 1210-006</b> (все без кольца АБС) кольцо можно аккуратно переставить со старого ШРУСа. Вместо <b>HDK HY-006</b> можно заказать <b>HDK HY-006A47</b> — он будет сразу с кольцом ABS, для тех кто не хочет заморачиваться с перестановкой.<br>
P.S. 23х60х27 jd JCT0120A идёт с кольцом АБС.<br>
2. 25*60*27 — ASVA HY-011A47;<br>
3. 26*60*27 — GSP 824066 — встает четко, (также можно поставить HY-SFA52, но придется переставлять родное кольцо АБС на 47 зубьев). Также есть информация, что внутренняя граната подходит Febest 1211-NF.<br>
Применимость:<br>
1. Соната СИРИУС (2004-2006)<br>
— 2,0 МКПП — 25*60*27;<br>
— 2,0 АКПП — 23*60*27;<br>
2. Соната БЕТА (2006-2008)<br>
— 2,0 МКПП — 26*60*27;<br>
— 2,0 АКПП — 26*60*27;<br>
3. Соната ДЕЛЬТА<br>
— 2,7 МКПП — 26*60*27;<br>
— 2.7 АКПП — 25*60*27.<br>
4.Соната IV USA (2000-05)<br>
— 2,4 АКПП — 25*60*27<br>
<br>
<br>
<br>
<a href="https://www.drive2.ru/l/5235637/?ysclid=m238e6m5lt35797787" class="underline-one" target="_blank">Источник</a>  
</div>

{% endblock %}